.preview-box {
  position: absolute;
  display: none;
  background-color: var(--white);
  border: 1px solid var(--gray);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 300px;
  z-index: 1000;
  font-size: 14px;
  line-height: 1.4;
  overflow: hidden;
}

body.dark-mode .preview-box {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--gray);
}
