---
const { tags, all } = Astro.props;
---

{all && <h3 class="tag-title">标签</h3>}
<div class=`${all && "tags"}`>
    {
        tags &&
            tags.map((tag) => (
                <>
                    <a class="tag" href={`/tag/${tag}`}>
                        #{tag}
                    </a>
                    {` `}
                </>
            ))
    }
</div>
